################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/MR2024/v17/ipch/AutoPCH/4b6f5278ac3eee27/EXERCISE_1_MIDAS_VS_ARNO.ipch
/.vs/MR2024/v17/ipch/AutoPCH/4b6f5278ac3eee27
/.vs/MR2024/v17/Browse.VC.opendb
/.vs/MR2024/v17/Browse.VC.db-wal
/.vs/MR2024/v17/Browse.VC.db-shm
/.vs/MR2024/v17/Browse.VC.db
/.vs/MR2024/v17/.suo
/.vs/MR2024/v17
/.vs/MR2024/FileContentIndex/read.lock
/.vs/MR2024/FileContentIndex/cf65d007-0670-419d-9c1c-4197a1dc6c12.vsidx
/.vs/MR2024/FileContentIndex/9a5f9216-85fb-44a3-b4c1-ec47b1d46a43.vsidx
/.vs/MR2024/FileContentIndex/991f84e2-4934-409c-aa85-f6b13ffd57c6.vsidx
/.vs/MR2024/FileContentIndex/914731c9-fce1-4d82-8b96-574aef88b01e.vsidx
/.vs/MR2024/FileContentIndex
/.vs/MR2024
/.vs
